@import 'variables';
/* intro section*/
@import 'intro';

// section About Me
@import 'About';

// Education&Skills section
@import 'Education&Skills';

// portfolio
@import 'portfolio';

// responsive
@import 'responsive';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: $main-background-color;
    color: $main-font-color;
    height: 5000px;
}


// navbar
nav{
    top: 0;
    right: 0;
    transform: scaleY(0);
    transition: $transition-standard;
    transform-origin: top;
    z-index: 2;
    &.active{
        transition: $transition-standard;
        transform: scaleY(1);
    }
    .nav-item{
        background-color: $main-font-color;
        box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 25%);
        margin-top: 36px;
        width: 220px;
        height: 45px;
        text-align: center;
        position: relative;
        font-size: 24px;
        transition: $transition-standard;
        &::after{
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            border-bottom: 20px solid transparent;
            border-top: 25px solid transparent;
            border-right: 24px solid $secondary-font-color;
        }
        &:hover{
            transform:translateY(-5px);
            transition: $transition-standard;
        }
    }
}

// contact
#Contact-me{
    h2{
        font-size: 48px;
        span{
            color: $secondary-font-color;
        }
    }
    
}
.btn-send{
    background-color: $main-background-color;
    color: #fff;
    &:hover{
        background-color: #fff;
    }
}